server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5433/signalops
    username: signalops
    password: signalops
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: "signalops-dev-secret-please-change-this-to-64-chars-minimum-123456"
  expiration: 86400000
